name: reddit-twitter-bot

on:
  schedule:
    - cron: "0 * * * *"  # Her 1 saatte bir
  workflow_dispatch:        # Elle çalıştırmak için

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run bot
        run: |
          python bot/bot.py
